.header {
  height: 20px;
  background-color: #38AEF0;
  color: #ffffff;
  width: 100%;
  &__logo{
    text-align: center;
    line-height: 20px;
    
  }
}

.content__left{
  width: 300px;
  float: left;
  color: #ffffff;
    &__top{
      padding: 0 20px;
      height: 100px;
      background-color: #253141;
      color: #ffffff;
      font-size:  16px;
      font-weight: bold;
      &__text{
        display: flex;
        line-height: 100px; 
        justify-content: space-between;
        &__left{
        }
        &__right{
          color: brown;
          padding-left: 80px;
            & ul{
              color: #ffffff;
              .icon{
                  color: white;
              }

            }
        }
     }    
  }
    &__bottom{
      padding: 0 20px;
      height: calc(100vh - 100px);
      background-color: #2F3e51;
      color: #ffffff;
      padding-top: 20px;
      top: 0;
      bottom: 0;
      overflow-y: auto;
        &__group{
          color: #ffffff;
          margin-bottom: 40px;
          &__name{
            color: #ffffff;
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: bold;
          }
          &__message{
          　text-decoration:none;
            color: #ffffff;
            font-size: 11px;
            font-weight: bold;
          }
        }
    }
}

.content__right{
  width: calc(100vw - 300px);
  background-color:#ffffff;
  float: left;
    &__top{
      padding: 0 40px;
      font-size: 20px;
      padding:0 40px;
      height: 100px;
      border-bottom: solid 1px #eeeeee;
        &__box{
          display: flex;
          justify-content: space-between;
          &__left{
            padding-top: 35px;
            font-size: 20pz;
            color: #333333;
          }
          &__right{
            margin-top: 28px;
            height: 40px;
            line-height: 40px;
            color:#38AEF0 ;
            border:solid 1px #38AEF0;
            padding: 0 20px;
            margin-right: 20px;
            
          } 
        }
        &__under{
          padding-top: 10px;
          color:#999999;
          font-size: 12px;
          display: flex;
          list-style: none;
          .member{
            padding-left: 10px;

          }
        }      
     }
    &__center{
      height:calc(100vh - 190px);
      padding: 0 40px;
      top: 0;
      bottom: 0;
      overflow-y: auto;
      &__messege{
        padding-bottom: 40px;
        font-size: 14px;
        color: #434A54;
      }
      .message{
        padding-bottom: 40px;

      }
      .upper-message{
        display: flex;
        margin-bottom: 10px;
        margin-top: 25px;
      }
      .upper-message__user-name{
        color: #434A54;
        font-weight: bold;
        font-size: 16px;
      }
      .upper-message__date{ 
        margin-left: 10px;
        font-size: 12px;
        color: #999999;
        }
      .lower-message{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 10px;
      }  

      }


    

    .form{
      height: 70px;
      padding: 20px 40px;
      background-color: #ddd;
      .new_message{
        display: flex; 
      }
        &__message{ 
          color: #434A54;
          height: 50px;
          line-height: 50px;
          background-color: #fff;
          position: relative;
          width: 87%;
        
        }
        &__mask{
          &__image{
            font-size: 1.3rem;
            position: absolute;
            right: 200px;
            bottom: 6px;
            cursor: pointer;
            .icon{

            }
            .hidden{
              display: none;
            }
          }
        }
        &__submit{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
        }
   } 
} 




.upper-message{

}